* {
    margin: 0px;
    padding: 0px;
}
input#title {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}
textarea {
    width: 100%;
    height: 400px;
    resize: none;
}
input#button {
}